body {
    margin: 0;
    font-family: 'Merriweather', sans-serif;
    color: #40514e;
}

h1 {
    font-size: 5.625rem;
    /* equivalent to 90px     100% == 16px em can be used to dynamic font size , 1em == 16px*/
    color: #66BFBF;
    margin: 50px auto 0 auto;
    line-height: 1;
    font-family: 'Sacramento', cursive;
}

h2 {
    font-size: 2.5rem;
    font-weight: normal;
    color: #66BFBF;
    margin-top: 0;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 10px;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

footer {
    text-align: center;
    padding: 40px;
    background-color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
}

footer p {
    color: #EAF6F6;
}

hr {
    border-style: dotted none none;
    /* border-style: none;
    border-top-style: dotted; */
    width: 4%;
    border-width: 0.25rem;
    border-color: #EAF6F6;
    margin: 100px auto;
}

p {
    line-height: 2;
}

.top-conatiner {
    background-color: #E4F9F5;
    text-align: center;
    padding-top: 100px;
    position: relative;
}

.middle-container {
    margin: 100px auto;
}

.angular {
    text-decoration: underline;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;
}

.bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;
}

.my-profile-pic {
    display: block;
    position: relative;
    width: 150px;
    height: 155px;
    object-fit: cover;
    object-position: 0px 0px;
    border-radius: 50%;
    background-color: blueviolet;
    border: solid 1px black;
}

.crop-img {
    position: relative;
    display: block;
    width: 150px;
    height: 155px;
    margin: 50px auto;
}

.profile {
    display: block;
    text-align: center;
}

.skills {
    text-align: center;
}

.contact-me {
    text-align: center;
}

.short-description {
    margin-top: 5px;
}

.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
}

.skill-row-img-code {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.skill-row-img-chilli {
    width: 25%;
    float: right;
    /* clear is anti float */
    margin-left: 30px;
}

.skill-row-chilli-desc {
    /* clear: right; */
}

.btn {
    background: #11999E;
    background-image: -webkit-linear-gradient(top, #66BFBF, #11999E);
    background-image: -moz-linear-gradient(top, #66BFBF, #11999E);
    background-image: -ms-linear-gradient(top, #66BFBF, #11999E);
    background-image: -o-linear-gradient(top, #66BFBF, #11999E);
    background-image: -webkit-gradient(top bottom, #66BFBF, #11999E);
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    border-radius: 0.5rem;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 100;
    padding: 10px;
    border: none;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin: 10px auto;
    outline: none;
}

.btn:hover {
    border: none;
    background: #66BFBF;
    text-decoration: none;
    margin: 10px auto;
    outline: none;
}

.footer-link {
    text-decoration: none;
    color: #11999E;
}

.footer-link:hover {
    color: #EAF6F6;
}

.intro {
    width: 30%;
    margin: auto;
}

.contact-me {
    width: 40%;
    margin: 40px auto 60px;
}

.copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 10px 0px;
}

@media only screen and (max-width: 500px) and (min-width: 425px) {
    .mountain-pic-class {
        width: 100%;
    }
    .bottom-cloud {
        left: 16.5rem;
        bottom: 240px;
    }
    .top-cloud {
        right: 16.5rem;
        top: 40px;
    }
    hr {
        margin: 50px auto;
    }
    .skill-row {
        width: 80%;
    }
    .intro {
        width: 80%;
    }
    .contact-me {
        width: 80%;
    }
}

@media only screen and (max-width: 768px) and (min-width: 625px) {
    .mountain-pic-class {
        width: 100%;
    }
    .bottom-cloud {
        left: 24.5rem;
        bottom: 380px;
    }
    .top-cloud {
        right: 24.5rem;
        top: 40px;
    }
    hr {
        margin: 50px auto;
    }
    .skill-row {
        width: 80%;
    }
    .intro {
        width: 80%;
    }
    .contact-me {
        width: 80%;
    }
}

@media only screen and (max-width: 624px) and (min-width: 501px) {
    .mountain-pic-class {
        width: 100%;
    }
    .bottom-cloud {
        left: 18.5rem;
        bottom: 280px;
    }
    .top-cloud {
        right: 18.5rem;
        top: 40px;
    }
    hr {
        margin: 50px auto;
    }
    .skill-row {
        width: 80%;
    }
    .intro {
        width: 80%;
    }
    .contact-me {
        width: 80%;
    }
}

@media only screen and (max-width: 424px) {
    .mountain-pic-class {
        width: 100%;
    }
    .bottom-cloud {
        left: 9.5rem;
        bottom: 200px;
    }
    .top-cloud {
        right: 8.5rem;
        top: 40px;
    }
    hr {
        margin: 50px auto;
    }
    .skill-row {
        width: 80%;
    }
    .intro {
        width: 80%;
    }
    .contact-me {
        width: 80%;
    }
}